@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  color: white;
  background: #60073C;
}

.playfair {
  font-family: 'Playfair Display', serif;
}

.poppins {
  font-family: 'Poppins', serif ;
}

html::-webkit-scrollbar {
  background: #60073C;
  width: 10px;
}

html::-webkit-scrollbar-thumb {
  background: #ff7a00;
  border-radius: 0.75rem;
}
